.container-contactList
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 20px;
    background-color: #596F86;

}

.container-HelpedContactItem{
    /* width: 340px; */
    /* width: 22rem; */
    padding: 0px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding-left: 0;

    border-radius: 24px;
    border: 10px solid #77B3D3;
    background: #FFF;
}
.contact-img{
    display: flex;
    align-items: flex-start;
    gap: 11px;
}

.contact-img-frame {
    max-width: 160px;
    object-fit: contain;
    border-radius: 18px;
}

.contact-name h1{
    font-size: 1.2rem;
    margin-bottom: 8px;
    text-align: left;
    align-self: flex-start;
}
.contact-name h5{
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 8px;
    padding: 0;
    text-align: left;
    align-self: flex-start;
}

.contact-name p{
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: 1rem;
    align-self: flex-start;
}

.container-contactDetails{
    height: 100%;
    padding: 20px;
}

.contact{
    display: flex;
    border-radius: 24px;
    border: 10px solid #77B3D3;
    background: #FFF;
    padding: 20px;
    gap: 20px;
}


.img-details{
    width: 367px;
    height: 298px;
    object-fit: cover;
}



.container-contactList a{
    color: black;
}

.container-contactList a:visited{
    color: black;
}

.scrolle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-top: #77B3D3 solid 1rem;
    background-color: #596F86;
}

.btnPage{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 42px;
}

.active{
    width: 34px;
    height: 34px;
}

  .hidden {
    display: none;
  }

.scrolle button{
    background-color: transparent;
    border: none;
    padding: 0;
}

.btn-back{
    display: flex;
    padding-top: 25px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    margin-right: 1rem;
}

.btn-back button{
    border-radius: 20px;
    background: #74C3B0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 20px;
    color: #FFF;
    font-size: 24px;
    font-family: "Quicksand", "Inter", sans-serif;
}

.container-contactDetails a{
    text-decoration: none;
}

.contact-details-name {
    font-family: 'Quicksand', 'Inter', sans-serif;
}
.contact-details-name h1 {
    font-size: 2.2rem;
    margin-top: 0;
    font-weight: 800;
}
.contact-details-name h5 {
    font-size: 1.4rem;
    margin-top: 0;
    font-weight: 600;
    
}
.contact-details-name p{
    font-size: 1.3rem;
    margin-top: 0;
    font-weight: 600;
    color: #444;

}