/* .nav-container{
    height: 100%;
    padding-top: 80px;
    background-color: #515E73;
} */
.nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    height: 100%;
}
.nav-item{
    justify-items: center;
    align-items: center;
    margin: 50px;
}