.container-noteItem
{
    display: flex;
    background-color: white;
    border: solid 0.5rem #77B3D3;
    border-radius: 12px;
    margin: 1rem;
    gap: 20px;
    align-items: flex-start;
}

.note{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.note-info{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.note h6{
    border-radius: 12px;
    background: #515E73;
    color: white;
    padding: 10px;
    width: 100%;
    color: #FFF;
    font-size: 24px;
    font-family: Quicksand;
    font-weight: 500;
    margin: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.note-title{
    border-radius: 12px;
    background: #F5CF87;
    height: auto;
    margin-top: 20px;
    padding: 20px;
}

a{
    text-decoration: none;
}

.container-noteDetails
{
    display: flex;
    border: solid 12px #9CAAC6;
    background-color: #9CAAC6;
    border-radius: 12px;
    margin: 20px;
    gap: 20px;
    align-items: flex-start;
}

.note-description
{
    background-color: white;
    border-radius: 12px;
    padding: 20px;
    margin-top: 20px;
}

.note-details-title{
    border-radius: 12px;
    background: rgba(245, 207, 135, 0.60);
    margin-top: 20px;
    padding: 20px;
    width: max-content; /*prend la largeur par rapport au contenu*/
}

.btn-back{
    display: flex;
    padding-top: 25px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
    margin-right: 1rem;
}

.btn-back button{
    border-radius: 20px;
    background: #74C3B0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 20px;
    color: #FFF;
    font-size: 24px;
    font-family: Inter;
}

.container-noteList a:visited{
    color: black;
}

.container-noteList a{
    color: black;
}

/* .container-noteList{
    background-color: #596F86;
    padding: 0.2rem;
} */