@import '../src/CSS/sideBar.css';
@import '../src/CSS/topbar.css';
@import '../src/CSS/menu.css';
@import '../src/CSS/home.css';
@import '../src/CSS/login.css';
@import '../src/CSS/contact.css';
@import '../src/CSS/note.css';




body{ 
  background-color: #77B3D3;
}
.container{
  padding: 25px;
}
 /* .App {
  text-align: center;
} */

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
